<div class="header-container">
  <div class="container">
    <h1>Forgot your password?</h1>
    <p>Reset instructions will be sent to your email address.</p>
  </div>
</div>
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions" %>
    </div>
  <% end %>
  <br>
  <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-sm", :role => "button" %> 
  <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default btn-sm", :role => "button" %>
</div>
