<%= simple_form_for @member_tackles do |f| %>
  <% if @member_tackles.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_tackles.errors.count, "error") %> prohibited this tackle from being saved:</h2>
      <ul>
        <% @member_tackles.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :tackle_type_id, label: 'Category', collection: TackleType.select("distinct tackle_category").map{ |t| [t.tackle_category, t.id] } %>
  <%= f.input :tackle_type_id, label: 'Type', collection: TackleType.all.map{ |t| [t.name, t.id] } %>
  <%= f.input :name, placeholder: 'Husky Jerk 08'  %>
  <%= f.input :description, as: :text, placeholder: 'Perfectly balanced, the Husky Jerk can be cast or trolled at any speed and still run true.' %>
  <%= f.input :size, placeholder: 'Medium' %>
  <%= f.input :quantity, collection: 1..100  %>
  <%= f.input :color, placeholder: 'Red/Blue' %>
  <%= f.input :modelnumber, label: 'Model Number', placeholder: 'C0407890' %>
  <%= f.input :shape, placeholder: 'slanted head' %>
  <%= f.input :length, placeholder: '6 inches' %>
  <%= f.input :weight, placeholder: '7 ounces' %>
  <%= f.input :brand, placeholder: 'Rapala' %>
  <%= f.input :price, placeholder: '5.90' %>
  <%= f.input :quantity_wanted, label: 'Quantity Wanted',  collection: 1..100 %>
  <%= f.label :tackle_img, label: 'Upload Image' %>
  <%= f.file_field :tackle_img %>
  <%= f.button :submit %>
<% end %>
