<div class="header-container">
  <div class="container">
    <h1>Tackle Tracker Dashboard</h1>
    <p>Keeping track of your inventory of tackle and boating supplies.</p>
  </div>
</div>
<div class="container">
  <%= link_to 'Add New Tackle', new_member_tackle_path, :class => "btn btn-primary btn-lg blue", :role => "button" %>
  <br>
  <br>
  <% count_of_items_in_category = 0 %>
  <div class="panel-group" id="accordion">
    <% TackleType.uniq.pluck(:tackle_category).sort.each do |category| %>
      <% shown_title = false %>
      <% tackle_based_on_category = @member_tackles.joins(:tackle_type).where(:tackle_types => {:tackle_category => category }) %>
      <% if !tackle_based_on_category.blank? %>
        <% count_of_items_in_category = tackle_based_on_category.size %>
        <% tackle_based_on_category.sort! { |a,b| a.tackle_type.name.downcase <=> b.tackle_type.name.downcase }.each do |tackle| %>
          <% unless shown_title %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%= category.gsub(/\s+/, "") %>">
                  <h3 class="panel-title">
                    <%= category %>
                  </h3>
                </a>
              </div>
              <div id="<%= category.gsub(/\s+/, "") %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <% shown_title = true %>
          <% end %> 
                  <ul class="tackle-display">
                    <% if tackle.tackle_img.exists? %>
                      <li><%= link_to image_tag(tackle.tackle_img.url(:thumb)), tackle %>
                    <% end %>
                    <li><%= tackle.tackle_type.name %></li>
                    <% if !tackle.name.blank? %>
                      <li><%= tackle.name %></li>
                    <% end %>
                    <% if !tackle.description.blank? %>
                      <li><h5>Description</h5> <%= tackle.description %></li>
                    <% end %>
                  </ul>
                  <%= link_to 'More Details', tackle, :class => "btn btn-primary btn-lg active  blue", :role => "button" %>
                  &nbsp;&nbsp;&nbsp;
                  <%= link_to 'Edit', edit_member_tackle_path(tackle), :class => "btn btn-default btn-lg", :role => "button" %>
                  &nbsp;&nbsp;&nbsp;
                  <%= link_to 'Delete', tackle, :title => 'Confirm Deletion', :class => "btn btn-danger btn-sm", :role => "button", method: :delete, data: { confirm: 'Are you sure you want to delete this item? WARNING: This action can not be undone.' } %>
                  <br>
                  <% count_of_items_in_category -= 1 %>
          <% if count_of_items_in_category != 0 %>
            <hr>
          <% end %>
          <% if count_of_items_in_category == 0 %>
                </div> 
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
