<h1>Tackle Tracker</h1>
<%= link_to 'Add New Tackle', new_member_tackle_path %>
<br>
<br>
<% @member_tackles.each do |tackle| %>
  <ul>
    <li><%= image_tag(tackle.tackle_img.url(:medium)) %>
    <li><%= TackleType.all.select{ |m| m.id == tackle.tackle_type_id } %></li>
    <li><%= tackle.name %></li>
    <li><%= tackle.description %></li>
    <li><%= tackle.size %></li>
    <li><%= tackle.quantity %></li>
    <li><%= tackle.color %></li>
    <li><%= tackle.modelnumber %></li>
    <li><%= tackle.shape %></li>
    <li><%= tackle.length %></li>
    <li><%= tackle.weight %></li>
    <li><%= tackle.brand %></li>
    <li><%= tackle.quantity_wanted %></li>
    <li><%= tackle.price %></li>
  </ul>
  <%= link_to 'Show', tackle %><br>
  <%= link_to 'Edit', edit_member_tackle_path(tackle) %><br>
  <%= link_to 'Delete', tackle, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<br>
