<h3><%= @member_tackles.name %></h3>
<small><%= @member_tackles.tackle_type.tackle_category %> :: <%= @member_tackles.tackle_type.name %></small>
<ul>
    <% if @member_tackles.tackle_img.exists? %>
	<li><%= image_tag(@member_tackles.tackle_img.url(:medium)) %></li>
    <% end %> 
    <li><h5>Description</h5> <%= @member_tackles.description %></li>
    <li><h5>Size</h5> <%= @member_tackles.size %></li>
    <li><h5>Qty</h5> <%= @member_tackles.quantity %></li>
    <% if @member_tackles.needToBuy > 0 %>
      <li><h5>Need To Buy</h5> <%= @member_tackles.needToBuy %> more</li>
    <% end %>
    <li><h5>Color</h5> <%= @member_tackles.color %></li>
    <li><h5>Model</h5> <%= @member_tackles.modelnumber %></li>
    <li><h5>Shape</h5> <%= @member_tackles.shape %></li>
    <li><h5>Length</h5> <%= @member_tackles.length %></li>
    <li><h5>Weight</h5> <%= @member_tackles.weight %></li>
    <li><h5>Brand</h5> <%= @member_tackles.brand %></li>
    <li><h5>Price Paid (each)</h5> <%= number_to_currency(@member_tackles.price) %></li>
    <% if @member_tackles.price && @member_tackles.quantity %>
      <li><h5>Total Paid</h5> <%= number_to_currency(@member_tackles.price * @member_tackles.quantity) %></li>
    <% end %>
  </ul>
<%= link_to 'Edit Tackle', edit_member_tackle_path(@member_tackles) %>
<br>
<%= link_to 'Tackle Dashboard', member_tackles_path %>
