<p><h3><%= @member_tackles.name %></h3></p>
<ul>
    <% if @member_tackles.tackle_img.exists? %>
	<li><%= image_tag(@member_tackles.tackle_img.url(:medium)) %></li>
    <% end %> 
    <li><%= @member_tackles.tackle_type.tackle_category %></li>
    <li><%= @member_tackles.tackle_type.name %></li>
    <li><%= @member_tackles.name %></li>
    <li><%= @member_tackles.description %></li>
    <li><%= @member_tackles.size %></li>
    <li><%= @member_tackles.quantity %></li>
    <li><%= @member_tackles.color %></li>
    <li><%= @member_tackles.modelnumber %></li>
    <li><%= @member_tackles.shape %></li>
    <li><%= @member_tackles.length %></li>
    <li><%= @member_tackles.weight %></li>
    <li><%= @member_tackles.brand %></li>
    <li><%= @member_tackles.quantity_wanted %></li>
    <li><%= number_to_currency(@member_tackles.price) %></li>
  </ul>
<%= link_to 'Edit Tackle', edit_member_tackle_path(@member_tackles) %>
<br>
<%= link_to 'Tackle Dashboard', member_tackles_path %>
