<div class="header-container">
  <div class="container">
    <h1><%= @member_tackles.name %></h1>
    <small><%= @member_tackles.tackle_type.tackle_category %> :: <%= @member_tackles.tackle_type.name %></small>
  </div>
</div>
<div class="container">
<ul class="tackle-display">
    <% if @member_tackles.tackle_img.exists? %>
      <li><%= link_to image_tag(@member_tackles.tackle_img.url(:medium), @member_tackles.tackle_img.url(:original), :class => "tackle_image") %></li>
    <% end %> 
    <% if !@member_tackles.brand.blank? %>
      <li><h6>Brand</h6> <%= @member_tackles.brand %></li>
    <% end %>
    <% if !@member_tackles.modelnumber.blank? %>
      <li><h6>Model</h6> <%= @member_tackles.modelnumber %></li>
    <% end %>
    <% if !@member_tackles.description.blank? %>
      <li><h6>Description</h6> <%= @member_tackles.description %></li>
    <% end %>
    <% if !@member_tackles.quantity.blank? && @member_tackles.quantity > 0 %>
      <li><h6>Qty</h6> <%= @member_tackles.quantity %></li>
    <% end %>
    <% if !@member_tackles.needToBuy.blank? && @member_tackles.needToBuy > 0 %>
      <li><h6>Need To Buy</h6> <%= @member_tackles.needToBuy %> more</li>
    <% end %>
    <% if !@member_tackles.color.blank? %>
      <li><h6>Color</h6> <%= @member_tackles.color %></li>
    <% end %> 
    <% if !@member_tackles.shape.blank? %>
      <li><h6>Shape</h6> <%= @member_tackles.shape %></li>
    <% end %>
    <% if !@member_tackles.length.blank? %>
      <li><h6>Length</h6> <%= @member_tackles.length %></li>
    <% end %>
    <% if !@member_tackles.weight.blank? %>
      <li><h6>Weight</h6> <%= @member_tackles.weight %></li>
    <% end %>
    <% if !@member_tackles.size.blank? %>
      <li><h6>Size</h6> <%= @member_tackles.size %></li>
    <% end %>
    <% if !@member_tackles.price.blank? && @member_tackles.price > 0 %>
      <li><h6>Price Paid (each)</h6> <%= number_to_currency(@member_tackles.price) %></li>
    <% end %>
    <% if !@member_tackles.price.blank? && !@member_tackles.quantity.blank? %>
      <li><h6>Total Paid</h6> <%= number_to_currency(@member_tackles.price * @member_tackles.quantity) %></li>
    <% end %>
</ul>
<%= link_to 'Edit Tackle', edit_member_tackle_path(@member_tackles), :class => "btn btn-primary btn-lg active blue", :role => "button" %>
<br>
<br>
<br>
<%= link_to 'Return to Tackle Dashboard', member_tackles_path, :class => "btn btn-default btn-lg", :role => "button" %>
</div>
