<!DOCTYPE html>
<html>
<head>
  <title>FishingTackleTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>  
  
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">

  <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-static-top" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand orange">FishingTackleTracker</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">  
            <li><%= link_to "Dashboard", member_tackles_index_path %></li>
            <li><%= link_to "Make Suggestion (Coming Soon)", "#" %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            <li><%= link_to "Edit Account", edit_user_registration_path%></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "orange"  %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">  
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "How Do I Use This?", how_to_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "About Us", about_us_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            <li><%= link_to "Track My Tackle", new_user_session_path, :class => "orange"  %></li>
          </ul>
        <% end %>
      </nav> 
      <% if user_signed_in? %><p>Hi <span class="orange"><%= current_user.email %></span>! Not you? <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p><% end %>   
    </div>
  </header>

<div class="container">
  <% flash.each do |name , msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<%= yield %>
<hr>
<footer>Copyright &copy; 2014 - FishingTackleTracker&trade; All rights reserved.</footer>
<br>
<%= yield(:bottomjs) %>

</body>
</html>
